node_modules/
dist/
.env
*.log
.DS_Store
coverage/
.next/
.turbo/

./shared/dist

./frontend/dist
./frontend/.next
./frontend/.turbo
./frontend/node_modules
./frontend/.env

./automation/dist
./automation/node_modules
./automation/.env
./automation/.next
./automation/tests

./backend/dist
./backend/node_modules
./backend/.env
./backend/.next